<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
 	<h1>Credit Card Validator</h1>
  <form> 
  <div class="box" style="padding-top:20px;">
  <div align="center" style="font-size:35px;">
	<% for(var i=0; i<display.length; i++) { %>
			<%= display[i] %>
			<br><br>
	<% } %> 
	 <a href="/" class="return">Return</a>
  </div>
  </div>
  </form>
  </body>
</html>
